body
{
	margin: 0;
	font-family: "Roboto", Arial, sans-serif;
	color: black;
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	text-align:left;
	background-color: #ffffff;
}
a 
{
	text-decoration: none;
}
.main-navigation
{
	font-size: 16px;
	line-height:30px;
	color:black;
	text-transform: uppercase;
	background-color: #eeeeee;
}
.site-navigation ,
.user-navigation,
.pages-list,
.catalog-list,
.filter-option
{
	list-style: none;
}
.site-navigation a,
.user-navigation a
{
	color: black;
}
.main-navigation img:hover
{
	opacity: 0.8;
}
.main-navigation img:focus
{
	opacity:0.3;
}
.site-navigation a:hover,
.user-navigation a:hover
{
	color: #fb565a;
}
.site-navigation a:focus,
.user-navigation a:focus
{
	color: rgba(0, 0, 0, 0.3);
}
li.current a
{
	width: 83px;
	height: 2px;
	border-bottom: 2px solid #fb565a;
}
.specialization-list 
{
	list-style: none;
}
.specialization-list .to-order
{
	font-size:16px;
	line-height: 18px ;
	text-align:center;
	vertical-align: middle;
	text-transform: uppercase;
	color: white;
	background-color: white;
}
.specialization-list .to-order-site
{
	background-color:#fb565a;
}
.specialization-list .to-order-site:hover
{
	background-color:#e74246;
}
.specialization-list .to-order-site:focus
{
	box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;

}
.specialization-list .to-order-app
{
	background-color:#00ca74;
}
.specialization-list .to-order-app:hover
{
	background-color:#00bc6c;
}
.specialization-list .to-order-app:focus
{
	box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
	background-color: #00aa62;

}
.specialization-list .to-order-presentation
{
	background-color: #efc84a;
}
.specialization-list .to-order-presentation:hover
{
	background-color: #eab534;
}
.specialization-list .to-order-presentation:focus
{
	box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
	background-color: #e5a722;
}
.specialization-item {
	text-align: left;

	color:#283136;
}
.specialization-item p:first-letter
{
	text-transform: capitalize;
}

.specialization-item h3 {
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
	color: #000000;
}
.page-title
{
	font-size:55px;
	font-weight: 500;
	line-height: 55px;
	text-align: center;
}

.filters fieldset {
	border: none;
}
.filters legend
{
	font-size: 18px;
	
	font-weight: bold;
	line-height: 30px;

}
.filter-input
{
	background-color: #4d4d4d;
	opacity:0.4;
}
.filter-input:hover
{
	opacity:1;
}
.filter-input + label
{
	color:#283136;
	font-size:16px;
	
	line-height: 20px;
}
.filter-button
{
	width: 260px;
	height: 50px;
	background-color: #eeeeee;
	font-size:16px;
	font-weight: 500;
	line-height: 18px;
	color: black;
}
.catalog-item .description
{
	display: none;
}
.catalog-item:hover .description
{
	display: block;
}
.catalog-item a::before
{
	background: url("img/browser.svg") no-repeat;
	opacity:0.12;
}
.catalog-item a:hover::before
{
	opacity:1;
}
.description
{

	background-color:#eeeeee;
}
.description h3
{
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	text-align: center;
	color: #000000;
}
.description p
{
	font-size:16px;
	line-height: 18px;
	color:#666666;
	text-align: center;
}
.description .button
{
	color:white;
	background-color:#fb565a;
}
.description .button:hover
{
	background-color: #e74246;
}
.description .button:focus
{
	box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;
}
.main-footer
{
	background-color: white;
}
.footer-social ul
{
	list-style: none;
}
.footer-button
{
	background-color:#e1e1e1;
	border-radius:50%;
}
.footer-social a:hover
{
	background-color: #e74246;
}
.footer-social a:focus
{
	box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;
}

.footer-social a
{
	background-image: url(img/vk-icon.svg) ,url(img/insta-icon.svg) ,url(img/fb-icon.svg) ;
    background-repeat:no-repeat;
    background-position: 0% center,50% center ,100% center;
}
.footer-offer 
{
	font-size: 16px;
	
	font-weight: bold;
	line-height: 22px;
	text-align:left;
	color: #444444;
}
.footer-offer b
{
	font-size: 36px;
	
	font-weight: bold;
	line-height: 36px;
	text-align:left;

}
.feedback form
{
	display:none;
}
